h1 TE Guild Chat

#chat
  p Connecting

form(id: 'form', onsubmit: 'send(); return false;')
  input(type: 'text', autocomplete: 'off', id: 'text')
  input(type: 'submit', value: 'Send')
  input(type: 'hidden', value: '', id: 'username')
