!!! 5

h1 #{title}

#chat
  p Connecting

form(id: 'form', onsubmit: 'send(); return false;')
  input(type: 'text', autocomplete: 'off', id: 'text')
  input(type: 'submit', value: 'Send')
  input(type: 'hidden', value: '', id: 'username')
  input(type: 'hidden', value: port, id: 'tePort')
