!!! 5

meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
title #{title}

- each style in styles
    link(rel='stylesheet', type='text/css', href=style)

- if (error)
    .error
        p #{error}

.bottom
    section.login
        h2 Please enter a username.
        form#login(name='login', method='get', action='/chat')
            fieldset
                input#userName(name='userName', type='text', placeholder='username')
                input#submit(type='submit', value='>>')

